.container {
    background-color: rgb(255, 255, 255);
    margin-top: 5vh;
    height: 80vh;
    width: 150vh;
    border-radius: 1px;
    background-image: url(../../assets/img/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#col1 {
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 100vh;
    border-radius: 0 40px 40px 0;
}

#col2 {
    background-color: rgb(255, 255, 255);
    height: 80vh;
    margin-left: 50vh;
    width: 100vh;
    border-radius:  40px 0 0 40px;
}

#btn {
    border: #fff;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(199,151,14,0.9239133519618785) 0%, rgba(242,93,47,1) 55%);
    width: 40vh;
    height: 7vh;
    border-radius: 20px;
    color: #fff;
}

span{
    color: #fa5d5d;
    text-decoration: underline;
}