<section id="company-content">
    <div class="container">
        <div class="row align-items-start mt-5">
            <div class="col-md-6">
                <div class="text-start mt-4">
                    <p class="fs-1">Welcome to Our Mentorship Program</p>
                    <p class="fs-5">We provide expert mentorship to help you succeed.</p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../../assets/img/2.jpg" alt="Image" style="height: 91vh; width: 100%;" class="img-fluid">
            </div>
        </div>
    </div>
</section>


<section id="services">
    <div class="container container-service">
        <div class="row">
            <div class="col mb-5">
                <h2 class="fs-2 text-center">Our Services</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card service-card">
                    <div class="card-body">
                        <img src="https://img.freepik.com/free-vector/happy-man-online-dating-via-laptop_74855-7495.jpg?w=740&t=st=1693921693~exp=1693922293~hmac=effd4af08c28bab04c8c3a46a8f3923e70721caafb9f7a317d733c157e3c81c1"
                            class="img-fluid" alt="Service Image">
                        <h5 class="card-title">One-on-One Mentorship</h5>
                        <p class="card-text">Receive personalized mentorship from experts in your field.</p>
                    </div>
                    <div class="card-hover-content">
                        <p class="card-text">More details about One-on-One Mentorship.</p>
                        <!-- Add additional content here -->
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card service-card">
                    <div class="card-body">
                        <img src="https://img.freepik.com/premium-vector/business-concept-colorful-panorama-banner-with-businessman-woman-flanking-gear-wheels-with-icons_118813-92.jpg?w=740"
                            class="img-fluid" alt="Service Image">
                        <h5 class="card-title">Professional Workshops</h5>
                        <p class="card-text">Participate in workshops to enhance your professional skills.</p>
                    </div>
                    <div class="card-hover-content">
                        <p class="card-text">More details about Professional Workshops.</p>
                        <!-- Add additional content here -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card service-card">
                    <div class="card-body">
                        <img src="https://img.freepik.com/premium-vector/3d-business-briefcase-management-corporate-strategy-development-professional-career-creativity_22052-4102.jpg?w=740"
                            class="img-fluid" alt="Service Image">
                        <h5 class="card-title">Career Counseling</h5>
                        <p class="card-text">Get guidance and advice for your career path.</p>
                    </div>
                    <div class="card-hover-content">
                        <p class="card-text">More details about Career Counseling.</p>
                        <!-- Add additional content here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Courses Content Section -->
<section id="courses-content">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="fs-2">Our Courses</h2>
                <p>Explore our range of courses to enhance your skills.</p>
            </div>
        </div>
        <div class="row">
            <!-- Machine Learning Course Card -->
            <div class="col-md-4">
                <div class="custom-card">
                    <img src="https://img.freepik.com/free-vector/cartoon-man-robot-sitting-laptops-workplace-together_74855-20052.jpg?w=900&t=st=1693924164~exp=1693924764~hmac=4f8b51e5ea8dc750d1612e220e632fe372e3c346c9a41289a20b267a534f6b30"
                        alt="Machine Learning" class="card-image">
                    <h3 class="card-title">Machine Learning</h3>
                    <p class="card-description">Learn the fundamentals of machine learning.</p>
                </div>
            </div>

            <!-- Data Analysis Course Card -->
            <div class="col-md-4">
                <div class="custom-card">
                    <img src="https://img.freepik.com/premium-vector/bar-chart-graph-diagram-statistical-business-infographic-illustration-with-nature-leaf_7081-1394.jpg?w=740"
                        alt="Data Analysis" class="card-image">
                    <h3 class="card-title">Data Analysis</h3>
                    <p class="card-description">Master the skills needed for data analysis.</p>
                </div>
            </div>

            <!-- Artificial Intelligence Course Card -->
            <div class="col-md-4">
                <div class="custom-card">
                    <img src="https://img.freepik.com/free-vector/scientists-studying-neural-connections-programmers-writing-codes-machine-brain_74855-14157.jpg?w=900&t=st=1693924582~exp=1693925182~hmac=474b70e2451cff10d497d8bf0e22f88fd8de7232ec248b6f740ffe798078dc3a"
                        alt="Artificial Intelligence" class="card-image">
                    <h3 class="card-title">Artificial Intelligence</h3>
                    <p class="card-description">Explore the world of artificial intelligence.</p>
                </div>
            </div>

            <!-- Cloud App Development Course Card -->
            <div class="col-md-4">
                <div class="custom-card">
                    <img src="https://img.freepik.com/premium-vector/business-team-working-monitor_115495-349.jpg?w=996"
                        alt="Cloud App Development" class="card-image">
                    <h3 class="card-title">Cloud App Development</h3>
                    <p class="card-description">Build applications for the cloud.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Projects Done Section -->
<section id="projects-done">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="fs-2">Projects We've Done</p>
                <p class="fs-4">Hover the cards and check out some of our successful projects and collaborations.</p>
            </div>
        </div>
        <div class="row">
            <!-- Machine Learning Project -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-inner">
                        <div class="card-flipper">
                            <div class="card-front">
                                <img src="https://img.freepik.com/premium-vector/personnel-department-is-recruiting-new-employee_81534-1520.jpg?w=900"
                                    class="card-img-top" alt="Machine Learning Project">
                            </div>
                            <div class="card-back">
                                <div class="card-content">
                                    <h5 class="card-title">Machine Learning Project</h5>
                                    <p class="card-text">Description of the ML project goes here.</p>
                                    <a href="#" class="read-more-btn">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Data Analytics Project -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-inner">
                        <div class="card-flipper">
                            <div class="card-front">
                                <img src="https://img.freepik.com/free-vector/business-people-working-project-flat-icon_1262-18770.jpg?w=740&t=st=1693926506~exp=1693927106~hmac=ed198bd6c00401943d65a6ead02d36c8b012c9eae2f793ea439c816b6fa74302"
                                    class="card-img-top" alt="Data Analytics Project">
                            </div>
                            <div class="card-back">
                                <div class="card-content">
                                    <h5 class="card-title">Data Analytics Project</h5>
                                    <p class="card-text">Description of the DA project goes here.</p>
                                    <a href="#" class="read-more-btn">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Cloud Project -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-inner">
                        <div class="card-flipper">
                            <div class="card-front">
                                <img src="https://img.freepik.com/free-vector/two-developers-looking-gears-cloud-digital-data-storage-database-securiry-data-protection-cloud-technology-concept-vector-illustration-isolated_335657-2196.jpg?w=900&t=st=1693926667~exp=1693927267~hmac=63fb8b6451b194e51f4ed165666ca7d4129e89052f50320afad930d34c3cad99"
                                    class="card-img-top" alt="Cloud Project">
                            </div>
                            <div class="card-back">
                                <div class="card-content">
                                    <h5 class="card-title">Cloud Project</h5>
                                    <p class="card-text">Description of the Cloud project goes here.</p>
                                    <a href="#" class="read-more-btn">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Second container for additional projects -->
    <div class="container">
        <div class="row">
            <!-- Web Development Project -->
            <div class="col-md-4 mb-4" style=" margin-top:50vh">
                <div class="card">
                    <div class="card-inner">
                        <div class="card-flipper">
                            <div class="card-front">
                                <img src="https://img.freepik.com/free-vector/desktop-smartphone-app-development_23-2148683810.jpg?w=740&t=st=1693926721~exp=1693927321~hmac=5e106185b47dfcb00a90dac750c816608899cb220075e9953615a68673af96dc"
                                    class="card-img-top" alt="Web Development Project">
                            </div>
                            <div class="card-back">
                                <div class="card-content">
                                    <h5 class="card-title">Web Development Project</h5>
                                    <p class="card-text">Description of the Web Development project goes here.</p>
                                    <a href="#" class="read-more-btn">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Artificial Intelligence Project -->
            <div class="col-md-4 mb-4" style=" margin-top:50vh">
                <div class="card">
                    <div class="card-inner">
                        <div class="card-flipper">
                            <div class="card-front">
                                <img src="https://img.freepik.com/free-vector/ai-powered-content-creation-isometric-composition-with-human-characters-cute-robot-generating-art-computer-screen-3d-vector-illustration_1284-82522.jpg?w=740&t=st=1693926768~exp=1693927368~hmac=ef435bb4cd80aaf92e64ceb10ad000f08661c6014c4c4fc1fd76aa0bdcb5970c"
                                    class="card-img-top" alt="Artificial Intelligence Project">
                            </div>
                            <div class="card-back">
                                <div class="card-content">
                                    <h5 class="card-title">Artificial Intelligence Project</h5>
                                    <p class="card-text">Description of the AI project goes here.</p>
                                    <a href="#" class="read-more-btn">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer section -->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="fs-3">Contact Us</p>
                <p>Email: info@example.com</p>
                <p>Phone: +1 123-456-7890</p>
                <p>Address: 123 Main Street, City, Country</p>
            </div>
        </div>
    </div>
</footer>