<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="bg-primary p-3 rounded">
                <div class="username">
                    <label for="username" class="text-white">Username</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Enter Your Name"
                        [(ngModel)]="username" />
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="bg-light p-3 rounded">
                <div class="messages scrollarea">
                    <div class="list-group" *ngFor="let msg of messages$ | async">
                        <div>
                            <strong>{{ msg.username }}</strong>
                        </div>
                        <div>
                            <p>{{ msg.message }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <form (submit)="submit()" class="mt-4 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Message" [(ngModel)]="message"
                        name="message" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>