<div class="container">
    <button class="btn btn-secondary mb-3" (click)="goBack()">Back</button>
    <p class="fs-2">Student Assignment Submition Form</p>
    <form (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="fullName" placeholder="John Doe" [(ngModel)]="fullName"
                name="fullName" required>
            <label for="fullName">Full Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="name@example.com" [(ngModel)]="email"
                name="email" required>
            <label for="email">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" id="comments" placeholder="Leave a comment here" style="height: 100px"
                [(ngModel)]="comments" name="comments" required></textarea>
            <label for="comments">Comments Like Track and College Details</label>
        </div>
        <div class="form-floating mb-3">
            <input type="url" class="form-control" id="gitLink" placeholder="https://github.com/yourusername"
                [(ngModel)]="gitLink" name="gitLink">
            <label for="gitLink">Git Link</label>
        </div>
        <div class="form-floating mb-3">
            <input type="url" class="form-control" id="videoLink" placeholder="https://drive.google.com/yourvideo"
                [(ngModel)]="videoLink" name="videoLink">
            <label for="videoLink">Video Drive Link</label>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>